{% extends "DashboardBundle::layout.html.twig" %}

{% block content %}
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Value</th>
                <th>Date</th>
                <th style="width:200px;">Element</th>
                <th style="width:200px;">Client</th>
            </tr>

            {% for event in events %}

            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.type }}</td>
                <td>{{ event.value }}</td>
                <td>{{ event.occuredOn|date("Y-m-d H:i:s") }}</td>
                <td>{{ event.elementX | serialize('json') }}</td>
                <td>{{ event.clientX | serialize('json') }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}